@{
  Layout = "_Layout";
}

<h1>Welcome to the SDG's Festical Festival!</h1>
<p>@Html.ActionLink("See all artists and their info", "Index", "Artists")</p> 
<p>@Html.ActionLink("See all stages and their info", "Index", "Stages")</p>